svg.icon {
  width: 1em;
  height: 1em;
  fill: currentColor;
  use {
    fill: currentColor;
  }
}

{{#shapes}}

.icon-{{base}} {
  width: {{width.inner}}px;
  height: {{height.inner}}px;
//	font-size:({{height.inner}}/10)*1rem;
//	width:({{width.inner}}/{{height.inner}})*1em;
}
{{/shapes}}
